<footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright © MAGIC Grants, a Public 501(c)(3) Charity</p><br>
                    <p>EIN 82-5183590</p>
                </div>
                <div class="col">
                    <div class="fsocial">
                        <ul>
                            <li>
                                <a href="https://github.com/magicgrants" target="_blank">
                                    <img src="/img/social-icons/github-logo-white.png" alt="Github icon logo">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/MagicGrants" target="_blank">
                                    <img src="/img/social-icons/twitter-logo-white.png" alt="X (Twitter) icon logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</footer>
