<footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright © 2023 MAGIC Grants</p>
                </div>
                <div class="col">
                    <div class="fsocial">
                        <ul>
                            <li>
                                <a href="https://github.com/magicgrants" target="_blank">
                                    <img src="/img/social-icons/github-logo-white.png" alt="Github icon logo">
                                </a>
                            </li>
                            <li>
                                <a href="https://discord.gg/YH7kFuREKY" target="_blank">
                                    <img src="/img/social-icons/discord-logo-white.png" alt="Discord icon logo">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/MagicGrants" target="_blank">
                                    <img src="/img/social-icons/twitter-logo-white.png" alt="X (Twitter) icon logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</footer>
