<header>
      <div class="container">
               <nav class="row" role='navigation'>
                   <div class="logo col">
                        <a href="{{ site.baseurl }}/index.html" aria-label="Serai DEX">
                            <img src="/img/serai-dex-logo-full-color.png" alt="Serai DEX logo">
                       </a>
                   </div>
                   <ul class="main-menu col">
                       <li class="nav-item link"><a href="{{ site.baseurl }}/updates">Updates</a></li>
                       <li class="nav-item link"><a href="{{ site.baseurl }}/scholarships">Scholarships</a></li>
                       <li class="nav-item link"><a href="{{ site.baseurl }}/funds">Funds</a></li>
                       <li class="nav-item link"><a href="{{ site.baseurl }}/contribute">Contribute</a></li>
                       <li class="nav-item link"><a href="{{ site.baseurl }}/about">About</a></li>
                   </ul>
               </nav>
               <nav role='navigation' class="mobile-menu row">
                  <a class="logo-mobile col" href="{{ site.baseurl }}/index.html" aria-label="Serai DEX"><img src="/img/serai-dex-logo-full-color.png" alt="Serai DEX logo"></a>
                  <input class="burger-check" id="mobile-burger" type="checkbox">
                  <label for="mobile-burger" class="hamburger hamburger--spring">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                  </label>
                  <ul class="slide-nav">
                      <li class="nav-item link"><a href="{{ site.baseurl }}/updates">Updates</a></li>
                      <li class="nav-item link"><a href="{{ site.baseurl }}/scholarships">Scholarships</a></li>
                      <li class="nav-item link"><a href="{{ site.baseurl }}/funds">Funds</a></li>
                      <li class="nav-item link"><a href="{{ site.baseurl }}/contribute">Contribute</a></li>
                      <li class="nav-item link"><a href="{{ site.baseurl }}/about">About</a></li>
                  </ul>
               </nav>
       </div>
   </header>
